:root {
    /* Colores por defecto (modo claro) */
    --color-principal1-light: rgb(238, 238, 179);
    /* --color-principal2-light: rgb(228, 228, 116); */
    --color-principal2-light: rgb(240, 240, 57);
    --color-fondo-light: rgb(239, 239, 203);
    --color-blanco-light: #fff;
    --color-gris1-light: rgb(77, 77, 77);
    --color-gris2-light: #333;
    --color-seccion-light: #f4f4f4;
    --color-letra-light: #333;

    /* Colores por defecto (modo oscuro) */
    /* --color-principal1-dark: rgb(0, 102, 204); Azul oscuro */
    --color-principal1-dark: rgb(155, 215, 255); /* Azul oscuro */
    --color-principal2-dark: rgb(4, 84, 244); /* Azul claro */
    --color-fondo-dark: rgb(166, 166, 166); /* Gris oscuro */
    --color-blanco-dark: #222; /* Gris oscuro más oscuro */
    --color-gris1-dark: rgb(13, 40, 77); /* Gris claro */
    --color-gris2-dark: rgb(128, 128, 128); /* Gris medio */
    --color-seccion-dark: #666; /* Gris oscuro */
    --color-letra-dark: rgb(157, 215, 250);

    /* Aplicar colores según el esquema de color preferido */
    --color-principal1: var(--color-principal1-light);
    --color-principal2: var(--color-principal2-light);
    --color-fondo: var(--color-fondo-light);
    --color-blanco: var(--color-blanco-light);
    --color-gris1: var(--color-gris1-light);
    --color-gris2: var(--color-gris2-light);
    --color-seccion: var(--color-seccion-light);
    --color-letra: var(--color-letra-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Cambiar a colores oscuros cuando el esquema de color del sistema sea oscuro */
        --color-principal1: var(--color-principal1-dark);
        --color-principal2: var(--color-principal2-dark);
        --color-fondo: var(--color-fondo-dark);
        --color-blanco: var(--color-blanco-dark);
        --color-gris1: var(--color-gris1-dark);
        --color-gris2: var(--color-gris2-dark);
        --color-seccion: var(--color-seccion-dark);
        --color-letra: var(--color-letra-dark);
    }
}
* {
    transition: all 0.4s ease-in;
}

div * {
    color: var(--color-letra);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-letra);
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

header, div#inicio div, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header, div#inicio + div{
    text-align: center;
}

header, footer {
    width: 100vw;
}

h1 {
    color: var(--color-principal1);
}

h2 {
    border-bottom: 2px solid var(--color-principal1);
    padding-bottom: 5px;
}

header {
    position: fixed;
    background-color: var(--color-gris1);
    top: 0;
    margin: 0;
    border-radius: 0 0 15px 15px;
}

header div#cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

header div#cabecera h1 {
    margin: 5px;
}

header nav ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
}

header nav ul li {
    list-style-type: none;
    padding: 5px;
    margin: 5px 5px 20px 5px;
}

header nav ul li a {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    color: var(--color-principal1);
    border-radius: 5px;
    box-shadow: 3px 2px 5px var(--color-principal1);
    transition: all 0.5s ease-in-out;

}

header nav ul li a:hover{
    box-shadow: 3px 2px 5px var(--color-principal2);
    color: var(--color-principal2);
}

input[type="checkbox"]#cambiarModo,
input[type="checkbox"]#ampliar {
    margin-top: 10px;
}

input[type="checkbox"]#cambiarModo {
    appearance: none;
    width: 55px;
    height: 30px;
    background-image: url(../img/btn-lingth.png);
    background-color: var(--color-principal1);
    /* background-size: 50%; */
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    transition: all 0.6s ease-in-out;
}

input[type="checkbox"]:checked#cambiarModo {
    background-image: url(../img/btn-dark.png);
}

input[type="checkbox"]#ampliar {
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(../img/extender.png);
    background-color: var(--color-principal1);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease-in-out;
}

input[type="checkbox"]:checked#ampliar {
    background-image: url(../img/comprimir.png);
}

input[type="checkbox"]#cambiarModo:hover,
input[type="checkbox"]#ampliar:hover {
    background-color: var(--color-principal2);
}

div.separador {
    width: 100%;
    height: 5px;
}

div#cita {
    color: var(--color-principal1);
    font-weight: bold;
}

div#cita h2 {
    border-bottom: 2px solid var(--color-principal1);
    padding-bottom: 10px;
}

div#cita, section {
    background-color: var(--color-seccion);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* margin-bottom: 20px; */
}

section h2 {
    text-align: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

section.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.flex-column-center h2 {
    width: 100%;
}

.contenedor.proyectos,
.contenedor.proyectos div {
    width: 70%;
    transition: all 0.5s ease-in;
}

.contenedor h3, .contenedor p {
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: center;
}

div.contenedor.proyectos div p img {
    margin: 0;
    width: 100%;
}

.apartado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
}

.apartado span {
    font-size: 50px;
    margin-bottom: 10px;
}

div.contenedor div span img {
    margin: 0;
    width: 35%;
}

div.contenedor div span img.estrella {
    margin: 0;
    width: 15%;
    margin-bottom: 15%;
}

div.contenedor div p a {
    /* color: var(--color-gris2); */
    /* color: var(); */
    transition: color 0.3s ease-in-out;
}

div.contenedor div p a:hover {
    color: var(--color-principal2);
}

div.contenedor div p a::after {
    content: ' 👆🏼';
}

footer {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: var(--color-gris1);
    color: var(--color-principal1);
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
}

footer div {
    position: relative;
    left: -20px;
}

footer div img {
    position: relative;
    top: 15px;
    margin-right: 5px;
    width: 3em;
    height: 3em;
}

footer div p {
    display: inline-block;
    margin: 15px 0 15px 0;
    color: var(--color-fondo);
}

footer div p a {
    color: var(--color-principal1);
    transition: color 0.2s ease-in-out;
}

footer div p a:hover {
    color: var(--color-principal2);
}